@use '../abstracts' as *;

/* purgecss start ignore */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Brandon Grotesque, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: .5rem;
  font-weight: 300;
}

.content {
  h1,
  h2 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }

  p {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  a:not(.childnavi) {
    color: $primary;
    text-decoration: underline;
  }
  ul {
    margin-bottom: .5rem;
  }
  strong {
    font-weight: bold;
  }
}

ul {
  & > li {
    &:not(.no-style) {
      position: relative;
      padding-left: 1rem;
      font-weight: 300;

      &::before {
        content: '-';
        position: absolute;
        left: 0;
        top: 0;
        color: $secondary;
      }
    }
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* purgecss end ignore */
