<style>
.mailchimp-bg {
    background-image: url({{ Image(fn('get_field', 'mc_foto', 'option')).src('large') }});
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mailchimp-bg::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a7b3b9;
    top: 0;
    left: 0;
    opacity: 0.77;
}
</style>
<section class="mailchimp-bg bg-secondary-700 py-12">
    <div class="container mx-auto flex flex-wrap">
        <div class="md:w-1/3 z-10 pr-8">
            <h2 class="text-white text-4xl mb-4 px-8 md:px-0">
                {{ __('Blijf op de hoogte van de nieuwste vacatures', 'ppmm') }}
            </h2>
            <p class="text-white hidden md:block">
                {{  __('Wil je op de hoogte blijven van nieuwe vacatures? Meld je dan aan voor onze nieuwsbrief.', 'ppmm') }}
            </p>
        </div>
        <div class="md:w-1/3 px-8 z-10">
            <form class="chimp-form"
                  action="https://doedejaarsma.us20.list-manage.com/subscribe/post?u=3343bcdc7427ac4325a959dfd&id=28aca9e670"
                  method="POST"
            >
                <label class="sr-only" for="fname">Voornaam (verplicht)</label>
                <input id="fname" type="text" placeholder="Voornaam *" required="required" name="FNAME">
                <label class="sr-only" for="lname">Achternaam</label>
                <input id="lname" type="text" placeholder="Achternaam" name="LNAME">
                <label class="sr-only" for="email">E-mailadres (verplicht)</label>
                <input type="email" id="email" placeholder="E-mailadres *" required="required" name="EMAIL">
                <strong>Interesse in:</strong>
                <ul>
                    <li class="no-style">
                        <input type="checkbox" value="1" name="group[3397][1]" id="mce-group[3397]-3397-0">
                        <label for="mce-group[3397]-3397-0">Makelaardij</label>
                    </li>
                    <li class="no-style">
                        <input type="checkbox" value="2" name="group[3397][2]" id="mce-group[3397]-3397-1">
                        <label for="mce-group[3397]-3397-1">Vastgoed</label>
                    </li>
                    <li class="no-style">
                        <input type="checkbox" value="4" name="group[3397][4]" id="mce-group[3397]-3397-2">
                        <label for="mce-group[3397]-3397-2">Interim</label>
                    </li>
                    <li class="no-style">
                        <input type="checkbox" value="8" name="group[3397][8]" id="mce-group[3397]-3397-3">
                        <label for="mce-group[3397]-3397-3">Finance</label>
                    </li>
                    <li class="no-style">
                        <input type="checkbox" value="16" name="group[3397][16]" id="mce-group[3397]-3397-4">
                        <label for="mce-group[3397]-3397-4">Legal</label>
                    </li>
                </ul>
                <button type="submit" class="button mt-4 block">Aanmelden</button>
            </form>
        </div>
    </div>
</section>
