@use '../abstracts/variables' as *;
/* purgecss start ignore */
.header {
  background: hsla(202, 12%, 58%, .91);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: adjust-color($primary, $hue: -2, $saturation: -1%, $lightness: 11%);

  position: sticky;
  z-index: 20;

  .admin-bar & {
    top: 32px;
  }
}

.custom-logo {
  position: absolute;
  width: 150px;
  height: auto;
}

.menu-item {
  color: $white;
  &:hover {
    color: $secondary;
  }
}

@media screen and (min-width: 769px) {
  .submenu-container {
    top: 100%;
    left: 0;
    z-index: 9;
    padding-top: 2vh;
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
    margin-left: auto;
  }

  .menu-item-has-children {
    font-weight: 600;
  }

  #mobile-menu {
    section {
      padding: 0.5rem 0;
    }
  }
}

.topbar-menu {
  padding: 1rem 0;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    > .topbar-menu-item {
      flex: 1 1 auto
    }
  }

  @media screen and (min-width: 769px) {
    justify-content: flex-end;
  }

}
/* purgecss end ignore */
