.checkarea {
  cursor: pointer;

  > .checkbox {
    display: none;

    &:checked {
      & ~ .label {
        font-weight: 700;
      }
    }
  }
}

.branch-description--wrapper {
  display: flex;
  .branch-description {
    flex: 1 1 80%;
  }

  .branch-icon {
    flex: 1 1 auto;
    height: 50px;
    object-fit: contain;
  }
}
