@use "../abstracts" as *;

.home-meer-vacatures {
  color: $black;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 769px) {
    transform: translateX(-50%);
  }
}

.main-content {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 0;

  @media screen and (min-width: 769px) {
    display: flex;
  }
}

.homepage-img {
  height: 200px;
  object-fit: cover;
  object-position: top;
  width: 100%;

  @media screen and (min-width: 769px) {
    height: auto;
    object-fit: contain;
  }
}

.homepage-branche-tease {
  $animation-speed: 350ms;

  background-color: #96a1a7;
  flex: 1 1 100%;
  margin-bottom: 2rem;
  padding: 2rem;
  border-left-width: 12px;
  border-color: #a2ce50;
  position: relative;
  display: flex;
  min-height: 180px;
  align-items: center;
  cursor: pointer;
  color: $white;
  background-size: cover;

  .payoff {
    opacity: 0;
    position: absolute;
    transition: all $animation-speed ease;
    font-size: 16px;
  }

  .branche-title {
    transition: all $animation-speed ease;
  }

  .animation-container {
    flex: 1 1 auto;
    position: relative;
  }

  a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    z-index: 1;
  }

  figure {
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      .branche-title {
        margin-top: -1rem;
        margin-bottom: 1rem;
      }

      .payoff {
        transition-delay: $animation-speed/2;
        opacity: 1;
      }
    }

    flex: 1 1 calc(50% - 2rem);
    margin-right: 2rem;

    &:nth-of-type(2),
    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(n + 3) {
      flex: 1 1 calc(33% - 2rem);
      margin-bottom: 0;
    }
  }
}
